html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slider {
  position: absolute;
  left: 10%;
  top: 30%;
  width: 80%;
  height: 200px;
}

.slide-img {
  color: white;
  background-color: black;
  margin: 10px;
  overflow: hidden;
}

.slide-img:hover {
  color: blue;
}
